@import url(https://fonts.googleapis.com/css?family=Tenor+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import "../templates/paths/polis/style.css";
@import "../templates/paths/calculation/style.css";
@import "../templates/paths/company/style.css";
@import "../templates/paths/main/style.css";
@import "../templates/paths/finance/style.css";
@import "../templates/paths/profile/style.css";

:root {
    --blue: rgb(146, 167, 205);
    --red:#c54f4f;
    --gray:rgb(230, 230, 230);
    --light-blue:#35bfff;
    --dark-blue: rgb(0, 111, 167);
    --tooltip-gray: #bdc3c7;
}
.light_red{
    color: var(--red);
}
.polisEditorMatrixRow.deleted{
    opacity: .15;
}
.polisEditorMatrixRow.deleted:hover{
    background: var(--blue)!important;
    color:white!important;
    opacity: 1;
}
.polisInput{
    height: 90%;
    width: 99%;
    top: 0px;
    position: absolute;
    background: var(--gray);
}
.matrix.contacts{
    border-top: 5px solid var(--blue);
}
div.mi_slider{
    margin: auto;
    height: auto; 
}
div.matrix_container{
    margin-left: 45px;
    margin-right: 0px;
    width: auto;
    height: auto;
  }
div.matrix_container.calc{
    overflow: auto;
    height: auto;
    max-height: 600px;
    margin-left: 30px;
}
div.matrix_container:not(.calc){
    height: calc(100vh - 280px);
}
#find_company_matrix td{
    width: 25%;
}
.depth-symbol{
    font-size: 0.8em;
    position: relative;
    display: block;
    left: 20px;
    top: -18px;
    height: 0px;
    width: 0px;
}
.depth-symbol:hover:after{
    content: "Уровень вложенности";
    position: absolute;
    right: 100%;
    top: 30%;
    z-index: 10;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100px;
    height: auto;
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
}

@media (min-width: 1800px) and (max-width: 3600px) {
    td.tooltip_span--multi {
        color: var(--tooltip-gray);
        font-size: 1.65em;
        line-height: 0.85em;
        overflow: hidden;
    }
    .tooltip_span{
        font-size: 1.2em;
        color: var(--blue);
    }
    div.mi_slider {
        width:1650px;
        /* height: 1000px; */

    }
    .line{
        width: 1600px;
        margin: 0 0 0 7.5%;
        top: 88px;
    }
    div.dashboard_container{
        width: 1600px;
        height:160px;
    }
    .multi{
        margin-top: 72px;
    }
    div.matrix_container,  .clientCard{
        font-size: 16pt;
    }
    div.matrix_container.calc{
        width:1770px;
        font-size: 16pt;
    
    }
    .matrix_row,.matrix.bottom, td.properties.btns{
        height: 80px;
    }
    .matrix.bottom>tbody>tr>td,input[currency-input]{
        font-size: 16pt;
    }
    div#tooltip_box{
        width:1600px;
    }
    .mi_slider>div.dashboard_container>.nav>div>div, .mi_slider>div.dashboard_container>div>.ul>div>div,.hand{
        font-size:16pt;
    }
    .matrix.bottom{
        width:1600px;
    }
    .mi_slider>div.dashboard_container>div>.ul>div>div>input, input[currency-input], select{
        font-size: 16pt;
    }

}
@media (min-width: 1300px) and (max-width: 1800px) {
    td.tooltip_span--multi {
        color: var(--red);
        font-size: 1.55em;
        line-height: 0.85em;
        overflow: hidden;
    }
    .tooltip_span{
        font-size: 1.1em;
        color: var(--blue);
      }
    td.tooltip_span--multi {
        color: var(--red);
        font-size: 1.55em;
        line-height: 0.85em;
        overflow: hidden;
    }
    div.mi_slider{
        width:1200px;
        /* height: 800px; */

    }
    .line{
        width: 1150px;
        top:78px;
        margin: 0 0 0 7.8%;
    }
    div.dashboard_container{
        width: 1150px;
        height:140px;
    }
    .multi{
        margin-top: 53px;
    }
    div#tooltip_box{
        width:1150px;
    }
    div.matrix_container, .clientCard{
        font-size: 12pt;
    }
    .matrix.bottom>tbody>tr>td,input[currency-input]{
        font-size: 14pt;
    }
    div.matrix_container.calc{
        width:1320px;
        font-size: 14pt;

    }
    .matrix_row,.matrix.bottom, td.properties.btns{
        height: 60px;
    }
    .mi_slider>div.dashboard_container>.nav>div>div, .mi_slider>div.dashboard_container>div>.ul>div>div,.hand{
        font-size:12pt;
    }
    .matrix.bottom{
        width:1150px;
    }
    .mi_slider>div.dashboard_container>div>.ul>div>div>input, input[currency-input], select{
        font-size: 14pt;
    }
}
@media (min-width: 400px) and (max-width: 1300px){
    td.tooltip_span--multi {
        color: var(--red);
        font-size: 1.45em;
        line-height: 0.85em;
        overflow: hidden;
    }
    .tooltip_span{
        font-size: 1em;
        color: var(--blue);

    }
    td.tooltip_span--multi {
        color: var(--red);
        font-size: 1.45em;
        line-height: 0.85em;
        overflow: hidden;
    }
    div.mi_slider{
        width:1050px;
        /* height: 700px; */

    }
    .line{
        width:1000px;
        top: 68px;
        margin:0 0 0 9%;
    }
    div.dashboard_container{
        width: 1000px;
        height:120px;
    }
    .multi{
        margin-top: 53px;
    }
    div#tooltip_box{
        width:1000px;
    }

    div.matrix_container, .clientCard{
        font-size: 12pt;
    }
    .matrix.bottom>tbody>tr>td,input[currency-input]{
        font-size: 14pt;
    }
    div.matrix_container.calc{
        width:1170px;
        font-size: 14pt;
    }
    .matrix_row,.matrix.bottom, td.properties.btns{
        height: 60px;
    }

    .mi_slider>div.dashboard_container>.nav>div>div, .mi_slider>div.dashboard_container>div>.ul>div>div,.hand{
        font-size:12pt;
    }
    .matrix.bottom{
        width:1000px;
    }
    .mi_slider>div.dashboard_container>div>.ul>div>div>input, input[currency-input], select{
        font-size: 12pt;
    }

}
/***********************/

/*************************** стрелки */
.price{
    text-align: right;
}
.arrow_up{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}
.arrow_down{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}
.copyDown{
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
}
.closePark{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
/***************************/

.clientCard{
    margin-left:50px;
}

div.red{
    background: red!important;
    color: red;
}
#pseudoDashboard>div{
    width: 100%;
    display: table-cell;
    color: var(--tooltip-gray);
    font-size: 30pt;
    bottom: 0px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
div#tooltip_box>table>tbody>tr>td:not(.not_hover):hover, #pseudoDashboard>div:hover{
    color: var(--dark-blue)!important;
}
.matrix.bottom{
    table-layout: fixed;
    margin-left: 50px;
    border-top: 1px solid var(--blue);
}
input.properties{
    background: var(--gray);
    text-align: center;
    border: 1px solid white;
}
input::-webkit-input-placeholder { opacity: 0.4; }
input:-ms-input-placeholder { opacity: 0.4; }
input::-ms-input-placeholder { opacity: 0.4; }
input::placeholder { opacity: 0.4; } 
.multi{
    float: left;
    text-align:center; 
    padding:10px;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 3px solid var(--dark-blue);
    color: var(--dark-blue);
    font:20px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    background:var(--gray); 
}
.multi.alreadySelected{
    border-color:  var(--dark-blue);
}
div.dashboard_container{
    float: right;
}
.mi_slider:focus,.dashboard_container:focus { outline: none; }
.red{
    border: 1px solid red;
}
.btnDelete,.btnCopy, .btnArrowUp{
    background: var(--gray);
    border: none;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-size: 12pt;
    font-weight: bold;
    padding: 0 0 0 0;
    width: 100%;
}
.repeated{
    opacity: 0.15;
}
div.keyFriendly{
    position: relative;
}
div.keyFriendly:after{
    content:attr(key);
    position: absolute;
    top: 0px;
    color: white;
    right: 0px;
}
.openPark:hover{
    background: var(--blue)!important;
    color:white!important;
}

div#tooltip_box{
    display: inline-table;
    margin-left: 50px;
}

div#tooltip_box>table,div#tooltip_box>table>tbody,div#tooltip_box>table>tbody>tr{
    height: 100%;
    display: block;
}
div#tooltip_box>table>tbody>tr>td:not(.tooltip_span){
    height: 100%;
    display: inline-block;
    color:var(--tooltip-gray);
    font-size:30pt;
}
.tooltip_span{
    height: 100%;
    display: inline-block;
}
.alreadySelected {
    background: var(--dark-blue)!important;
    color: white;
    transition: all .3s;   
}

.block {

    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 48%; bottom: 0px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid var(--dark-blue); /* Добавляем треугольник */
}

.matrix_container{
    overflow: auto;
    margin-left: 45px;
}
    .matrix_container::-webkit-scrollbar {
        width:2px;
    }
    .matrix_container::-webkit-scrollbar-thumb {
        background-color:var(--dark-blue);
    }
table.matrix.park{
    border-bottom: 5px solid var(--blue);
}
table.matrix{
    width: 100%;
    table-layout: fixed;
}
table.matrix>tbody>tr{
    display: table-row;
    background: var(--gray);
}
div.calc>div>table.matrix>tbody>tr.changing{
    color: white;
    background: var(--dark-blue);
}
div.calc>div>table.matrix>tbody>tr.changing>td.changing{
    color: white;
    background: var(--light-blue);
}
.multi_cell:hover{
    background: white;
    color: var(--dark-blue);
}

::-webkit-input-placeholder {text-align: center;}
::-moz-placeholder          {text-align: center;}/* Firefox 19+ */
:-moz-placeholder           {text-align: center;}/* Firefox 18- */
:-ms-input-placeholder      {text-align: center;}
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}
.hand{
    color: red!important;
}
.mi_slider>div.dashboard_container>div>.ul>div>div>a{
    width: 100%;
    height: 100%;
}
div.ul>div,div.nav>div{
    display: table-row;
}
.mi_slider>div.dashboard_container>div>.ul>div>div>input, input[currency-input],
.mi_slider>div.dashboard_container>div>.ul>div>div>select{
    width:99%;
    height: 100%;
    outline: none;
    border: none;
    line-height: 1;
    background: var(--gray);
    text-align: center;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
select{
    text-align-last:center;
}
input[currency-input]:hover,input[currency-input]:focus{
    color: var(--dark-blue)!important;
    background: white!important;
    border-top:2px solid var(--gray)!important;
}
.ul_container{
    height: 50%;
}
.multi_close{
    color:var(--dark-blue);
}

body{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    height:100%;
    overflow-x: hidden;
    margin-bottom: 0;
    margin-right: 50px;
}
.properties{
    cursor: pointer;
}
.redPrice{
    color:red;
    text-align: center;
}
table.matrix>tbody>tr>.properties{
    font-weight:500;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height:1;

    height: 65px;
    position: relative;
}
.ul{
    width: 100%;

    height: 100%;
    table-layout: fixed;
    display: table;
}
.mi_selected{
    color: white;
    background: var(--light-blue)!important;
    box-shadow: inset 0 6px 20px 0px rgba(0, 0, 0, 0.4);
    transition-property: box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
.mi_slider>div.dashboard_container>.nav{
    width:100%;
    border-top: 5px solid var(--blue);
    height: 50%;
    table-layout: fixed;
    display: table;
}
.mi_slider>div.dashboard_container>.nav>div>div,.mi_slider>div.dashboard_container>div>.ul>div>div{
    background: var(--gray);
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border:1px solid white;
    font-weight: 500;
    line-height:1;

}
.mi_slider>div.dashboard_container>.nav>div>div:hover,
.mi_slider>div.dashboard_container>div>.ul>div>div:hover,
div:not(.calc)>div:not(.clientCard)>table.matrix:not(.bottom)>tbody>tr:hover,
div.calc>div>table.matrix>tbody>tr>td:not(.btns):hover,
.btnCopy:hover,
.btnDelete:hover, .button:hover, .multi:hover, .btnArrowUp:hover, input.properties:hover,
.clientCard>table.matrix>tbody>tr>td:hover
{
    color: white;
    background: var(--light-blue);
    opacity: 1;
    
}
.html {
    background-color: var(--dark-blue);
    font-family: "Tenor Sans", sans-serif;
}

.container.author {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10%;
}
.container.author>h1{
    text-align: center;
    color: white;
}
.login {

    width: 100%;
}

.login-heading {
    font: 1.8em/48px "Tenor Sans", sans-serif;
    color: white;
}

.input-txt {
    width: 100%;
    padding: 20px 10px;
    background: var(--gray);
    border: none;
    font-size: 1em;
    color: var(--light-blue);
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
    color: #81aac9;
}
.input-txt:-ms-input-placeholder {
    color: #81aac9;
}
.input-txt::-webkit-input-placeholder {
    color: #81aac9;
}
.input-txt:focus {
    background-color: white;
}

.login-footer {
    margin: 10px 0;
    overflow: hidden;
    float: left;
    width: 100%;
}

.btn {
    padding: 15px 30px;
    border: none;
    background: var(--light-blue);
    color: white;
}
.btn--right {
    float: right;
}

.icon {
    display: inline-block;
}

.icon--min {
    font-size: .9em;
}

.lnk {
    font-size: .8em;
    line-height: 3em;
    color: white;
    text-decoration: none;
}
/* moveFromRight */

.mi_moveFromRight div {
    -webkit-animation: moveFromRight 150ms ease-in-out both;
    animation: moveFromRight 150ms ease-in-out both;

}

/* moveFromLeft */

.mi_moveFromLeft div {
    -webkit-animation: moveFromLeft 150ms ease-in-out both;
    animation: moveFromLeft 150ms ease-in-out both;
}

/* moveToRight */

.mi_moveToRight div {
    -webkit-animation: moveToRight 150ms ease-in-out both;
    animation: moveToRight 150ms ease-in-out both;
}

/* moveToLeft */

.mi_moveToLeft div {
    -webkit-animation: moveToLeft 150ms ease-in-out both;
    animation: moveToLeft 150ms ease-in-out both;
}

/* Animation Delays */

.mi_moveToLeft div:first-child,
.mi_moveFromRight div:first-child,
.mi_moveToRight div:nth-child(4),
.mi_moveFromLeft div:nth-child(4) {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.mi_moveToLeft div:nth-child(2),
.mi_moveFromRight div:nth-child(2),
.mi_moveToRight div:nth-child(3),
.mi_moveFromLeft div:nth-child(3) {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}

.mi_moveToLeft div:nth-child(3),
.mi_moveFromRight div:nth-child(3),
.mi_moveToRight div:nth-child(2),
.mi_moveFromLeft div:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

.mi_moveToLeft div:nth-child(4),
.mi_moveFromRight div:nth-child(4),
.mi_moveToRight div:first-child,
.mi_moveFromLeft div:first-child  {
    -webkit-animation-delay: 170ms;
    animation-delay: 170ms;
}
.animation { transition: 0.2s; }

.animation.ng-enter-stagger,
.animation.ng-leave-stagger{
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration:0;
    transition-duration:0;
}

.animation.ng-leave { opacity: 1; }
.animation.ng-leave.ng-leave-active { opacity: 0; }

.animation.ng-enter { opacity: 0; }
.animation.ng-enter.ng-enter-active { opacity: 1; }
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* Animations */

@-webkit-keyframes moveFromRight {
    0% { -webkit-transform: translateX(1250%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
    0% { -webkit-transform: translateX(-1250%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(1250%); }
}

@-webkit-keyframes moveToLeft {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-1250%); }
}

@keyframes moveFromRight {
    0% { -webkit-transform: translateX(1250%); transform: translateX(1250%); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveFromLeft {
    0% { -webkit-transform: translateX(-1250%); transform: translateX(-1250%); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
    0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    100% { -webkit-transform: translateX(1250%); transform: translateX(1250%); }
}

@keyframes moveToLeft {
    0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    100% { -webkit-transform: translateX(-1250%); transform: translateX(-1250%); }
}
.animate-switch-container {
    position:relative;
    background:white;

    overflow:hidden;
}

.animate-switch {
    padding:0px;
}

.animate-switch.ng-animate {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top:0;
}

.sticky {
    position: sticky;
    bottom: 0;
}
.clickable {
    cursor: pointer;
}
.copyDown:hover:after{
    content: "Копировать параметр вниз";
    position: absolute;
    right: 100%;
    top: 30%;
    z-index: 10;
    background-color: white;
    color: red;
    font-size: 14px;
    width: 100px;
    height: auto;
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
}
.closePark:hover:after{
    content: "Свернуть парк";
    position: absolute;
    right: 100%;
    top: 30%;
    z-index: 10;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100px;
    height: auto;
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
}
.arrow_down:hover:after{
    content: "Развернуть мульти узел";
    position: absolute;
    left: 100%;
    top: -60%;
    z-index: 10;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100px;
    height: auto;
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
}
.arrow_up:hover:after{
    content: "Свернуть мульти узел";
    position: absolute;
    left: 100%;
    top: 30%;
    z-index: 10;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100px;
    height: auto;
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
}
.hover-hint:hover::after{
    content: attr(data-name);
    position: absolute;
    z-index: 10;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100px;
    height: auto;
    border: 2px solid rgb(0, 111, 167);
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
    left: 100%;
    top: 30%;
    text-align: center;
}
.nav-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--gray);
    width: 45px;
}
.nav-option {
    box-sizing: content-box;

}
.nav-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 5px;
}

.window-header {
    display: table;
    margin: auto;
    background: var(--blue);
    color: white;
    text-align: center;
    width: 100%;
    overflow: hidden;
    -webkit-animation: moveFromRight 350ms ease-in-out both;
    animation: moveFromRight 350ms ease-in-out both;
}
.disable{
    color: black;
    opacity: 0.3;
    background: rgba(0, 0, 0, 0.4)!important;
}
.disable:hover::after{
    content: attr(data-disableMsg);
    position: absolute;
    z-index: 150;
    background-color: white;
    color: black;
    height: auto;
    width: 75%;
    font-size: 80%;
    border: 2px solid rgb(0, 111, 167);
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
    left: 10%;
    top: 5%;
    text-align: center;
}
.matrix_results{
    margin-right: 0px;
    margin-left: 45px;
}
@keyframes move-to-left{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-101%);
    }
}
@keyframes move-from-left{
    from{
        transform: translateX(-101%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes move-to-right{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(101%);
    }
}
@keyframes move-from-right{
    from{
        transform: translateX(101%);
    }
    to{
        transform: translateX(0%);
    }
}
.ul_move_to_left{
    animation-name: move-to-left;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_from_left{
    animation-delay: 150ms;
    animation-name: move-from-left;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_to_right{
    animation-name: move-to-right;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_from_right{
    animation-delay: 150ms;
    animation-name: move-from-right;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.table-flex{
    display: flex;
    flex-direction: column;
}
.row-flex{
    display: flex;
    flex-direction: row;
    align-content: center;
}
div.matrix-header{
    background-color: var(--blue);
    color: white;
    text-align: center;
    border: 1px solid white;
}
#loading_modal{
    display: none;
}
.loading_container{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.loading_box{
    width: 40%;
    height: 20%;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: white;
    z-index: 1001;
    opacity: 1;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--dark-blue);
}
.matrix-cell{
    background-color: var(--gray);
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
}
.btn-func{
    /* height: 30px; */
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.btn-func p {
    margin: 0px;
    color: var(--dark-blue);
}
.btn-func img {
    height: 20px;
    width: 20px;
    margin: 3px;
}
