<table class="matrix" ng-if="isntEmpty(dashboard.myFactory.newClientCard)" ng-click="dashboard.relocatePage({urlTo:'company'})">
    <tbody>
    <tr ng-repeat="param in dashboard.myFactory.newClientCard" class="matrix_row properties" >
        <td ng-repeat="(key,value) in param" class="properties"
                ng-class="{light_red: value=='' || value=='Форма организации'}" ng-click="loadClient(key)"
                colspan="{{(key==='Место рождения' || key==='Адрес регистрации') ? 4 : (key==='ИНН' || key==='КПП') ? 1 : 2}}">
            {{value=="" || value=="Форма организации" ? key : value}}
        </td>
    </tr>
    </tbody>
</table>