<table class="matrix">
    <tr>
        <td class="properties properties_header">Дата внесения</td>
        <td class="properties properties_header">Внесенная сумма</td>
        <td class="properties properties_header">Срок платежа</td>
        <td class="properties properties_header">Долг</td>
    </tr>
    <tr ng-repeat="value in dashboard.myFactory.payment.array" ng-class="{payment_payed: value.payed}">
        <td class="properties" ng-class="{disabled: !myFactory.polisObj.isSaved}">{{value.date}}</td>
        <td class="properties" ng-class="{disabled: !myFactory.polisObj.isSaved}">{{value.price}}</td>
        <td class="properties">{{value.debtDate}}</td>
        <td class="properties">{{value.debt}}</td>
    </tr>
    <tr >
        <td class="properties properties_header">Итого оплачено:</td>
        <td class="properties properties_header">{{dashboard.myFactory.payment.payed}}</td>
        <td class="properties properties_header">Итого долг:</td>
        <td class="properties properties_header">{{dashboard.myFactory.payment.leftPrice}}</td>
    </tr>
</table>