<fieldset>
  <legend>Страхователь {{$index+1}}:
  </legend>
  <table class="matrix">
      <tbody>
          <tr class="matrix_row" ng-if="!addition.included">
              <td class="properties btns" width="20px" >
                  <input value="▲" type="button" class="btnCopy"
                    ng-click="moveInsurant(company, 'up')" >
                  <input value="-" type="button" class="btnDelete"
                    ng-click="deleteInsurant(company);$event.stopPropagation();">
                  <input value="▼" type="button" class="btnCopy" 
                    ng-click="moveInsurant(company, 'down')">
              </td>
              <td ng-click="loadCompanyProfile(company.id)">
                 <div class="p--centered">{{company.name}}</div> 
              </td>
              <td ng-click="loadCompanyProfile(company.id)">
                <div class="p--centered">{{company.card['Генеральный директор']['ФИО директора']}}</div> 
             </td>
             <td ng-click="loadCompanyProfile(company.id)">
                <div class="p--centered">{{company.card['Доп. информация']['Телефон']}}</div> 
             </td>
             <td ng-click="loadCompanyProfile(company.id)">
                <div class="p--centered">{{company.card['Доп. информация']['Юридический адрес']}}</div> 
             </td>
          </tr>
      </tbody>
  </table>
  </fieldset>