<div class="ul_container">
    <div class="ul"
    ng-class="[
    {ul_move_to_left: newDashboard.toLeft($index)},
    {ul_move_from_left: newDashboard.fromLeft($index)},
    {ul_move_to_right: newDashboard.toRight($index)},
    {ul_move_from_right: newDashboard.fromRight($index)}
    ]" ng-if="$index==newDashboard.previousPage || $index==newDashboard.currentPage" 
    ng-repeat="param in currObj">
        <div>
            <div ng-repeat="val in param.values">
                <div ng-if="val.type==='asDebt'">{{val.name}}</div>
                <input class="company_dashboard_inputs" tabindex="0" ng-keydown="keydownHandler($event, param, val,dashboard.clickedOnTopOfDashboard)" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{val.name}}" ng-if="val.type=='date'"  ng-change="inputHandler(clientCard[param.name][val.name])" ng-model="clientCard[param.name][val.name]" ng-click="loadToDashboard(val.name)">
                <input ng-if="val.type==='input'" placeholder="{{val.name}}">
            </div>
        </div>

    </div>
</div>
<div class="nav">
    <div>
        <div ng-repeat="param in currObj"
             ng-click="newDashboard.setCurrentPage($index)"
             ng-class="[
                {mi_selected: newDashboard.checkCurrentPage($index)},
                {alreadySelected : dashboard.alreadySelected(param.model)}
             ]">
            {{param.name}}
        </div>
    </div>
</div>
