<div class="ul_container">
    <div class="ul"
    ng-class="[
    {ul_move_to_left: newDashboard.toLeft($index)},
    {ul_move_from_left: newDashboard.fromLeft($index)},
    {ul_move_to_right: newDashboard.toRight($index)},
    {ul_move_from_right: newDashboard.fromRight($index)}
    ]" ng-if="$index==newDashboard.previousPage || $index==newDashboard.currentPage" 
    ng-repeat="param in currObj">
        <div>
            <div ng-repeat="val in param.values">
                <div ng-if="val.type==='asDebt'" ng-click="setAsDebt(val.control)">{{val.name}}</div>
                <input ng-if="val.type=='date'" class="input_date"
                type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{val.name}}" 
                ng-keydown="keydownHandler($event, param, val,dashboard.clickedOnTopOfDashboard)"
                ng-change="inputHandler(clientCard[param.name][val.name])" ng-model="newDashboard.currPayment[val.control]" ng-click="loadToDashboard(val.name)">
                <input ng-if="val.type==='input'" placeholder="{{val.name}}" ng-model="newDashboard.currPayment[val.control]" ng-blur="endChange(val,val.control)">
            </div>
        </div>

    </div>
</div>
<div class="nav">
    <div>
        <div ng-repeat="param in currObj"
             ng-click="newDashboard.setCurrentPage($index)"
             ng-class="[
                {mi_selected: newDashboard.checkCurrentPage($index)},
                {alreadySelected : dashboard.alreadySelected(param.model)}
             ]">
            {{param.name}}
        </div>
    </div>
</div>
