<div class='config_plate'>
  <h3>Выберите создаваемые документы:</h3>
  <div class="checkbox_host">
    <input type="checkbox" name="polisNeeded"checked>
    <label for="polisNeeded">Полис</label>
  </div>
  <div class="checkbox_host">
    <input type="checkbox" name="engTitleNeeded"checked>
    <label for="engTitleNeeded">Титульник на английском</label>
  </div>
  <div class="checkbox_host">
    <input type="checkbox" name="contractNeeded"checked>
    <label for="contractNeeded">Договор</label>
  </div>

</div>