<div class="view view_active" ng-if="newDashboard.checkCurrentPage(0)  && search_result.length==0" company-view ng-controller="companyCtrl as companyCtrl"></div>
<table class="matrix view view_active" ng-if="newDashboard.checkCurrentPage(0)  && search_result.length!=0" find-company></table>


<div class="view" ng-class="{view_active: newDashboard.checkCurrentPage(1) && search_result.length==0}" calculation-view ng-controller="calculationCtrl as calculation"></div>
<table class="matrix view" find-calculation-view  ng-class="{view_active: newDashboard.checkCurrentPage(1) && search_result.length!=0}"></table>

<div ng-if="newDashboard.checkCurrentPage(2)">
    <div addition="addition" ng-repeat="addition in dashboard.myFactory.polis" ng-if="addition.included" ng-click="dashboard.myFactory.polisCurrent=addition; dashboard.relocatePage({urlTo:'polisEditor'})"></div>
</div>

<div class="view  view_active" ng-if="newDashboard.checkCurrentPage(3)" finance-view ng-click="dashboard.relocatePage({urlTo:'finance'})"></div>
