<!-- Компания -->
<div company-view class="view view_active" ng-if="newDashboard.checkCurrentPage(0)  && search_result.length==0"  ng-controller="companyCtrl as companyCtrl"></div>
<table find-company class="matrix" ng-if="newDashboard.checkCurrentPage(0)  && search_result.length!=0"  ng-controller="matrixCtrl as matrixCtrl"></table>
<div>
    <div insurant="company" ng-repeat="company in myFactory.polisObj.insurants" ng-controller="polisCtrl as polisCtrl"></div>
</div>

<!-- Расчет -->
<div calculation-view ng-if="newDashboard.checkCurrentPage(1) && search_result.length==0" class="view" ng-class="{view_active: newDashboard.checkCurrentPage(1) && search_result.length==0}" ng-controller="calculationCtrl as calculation"></div>
<table find-calculation-view  ng-if="newDashboard.checkCurrentPage(1) && search_result.length!=0" class="matrix" ng-controller="matrixCtrl as matrixCtrl"></table>

<!-- Оговорки и условия -->
<div ng-if="newDashboard.checkCurrentPage(2) && search_result.length==0">
    <div addition="addition" ng-repeat="addition in dashboard.myFactory.polisObj.conditions" ng-click="dashboard.myFactory.polisCurrent=addition; dashboard.relocatePage({urlTo:'polisEditor'})"></div>
</div>
 <!-- резельтаты поиска оговорок -->
<table ng-if="newDashboard.checkCurrentPage(2) && search_result.length!=0" class="matrix">
    <tr ng-repeat="row in search_result | filter:cacheTemplate track by $index" ng-click="loadAddition(row)">
        <td class="properties btns" width="20px" >
            <input type="button" class="btnCopy" value="+">
            <input type="button" class="btnDelete" value="-" ng-click="deleteAdditionFromDB(row.id);$event.stopPropagation();">
        </td>
        <td class="properties">{{row.name}}</td>
        <td class="properties">Всего: {{row.text.length}} позиций</td>
    </tr>
</table>
<!-- Даты пусто -->

<!-- Финансы -->
<div class="view  view_active" ng-if="newDashboard.checkCurrentPage(4) && dashboard.myFactory.payment.array" finance-view ng-click="dashboard.relocatePage({urlTo:'finance'})"></div>