<div class="nav-container">
    <div class="nav-option hover-hint" id="home" data-name="Главное меню" ng-click="changeLocation('/')">
        <img class="nav-icon" src="./img/nav/home.png" alt="Главное меню">
    </div>
    <div class="nav-option hover-hint" id="save" data-name="Сохранить" ng-click="">
        <img class="nav-icon" src="./img/nav/save.png" alt="">
    </div>
    <div class="nav-option hover-hint" id="reload" data-name="Очистить полис" ng-click="">
        <img class="nav-icon" src="./img/nav/reload.png" alt="">
    </div>
</div>