div.mi_slider{
    margin: auto;
}
div.dashboard_container{
    float: none;
    margin: auto;
    width: auto;
}
div.return, div.return a{
    text-align: center;
    font-size: 30pt;
    color: var(--tooltip-gray);
    text-decoration: none;
}
div.return a:hover{
    color: var(--blue);

}
.view {
    margin: auto;
    display: none;
}
.view_active{
    box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.4);
    display: block;
}

span.gearwheel{
    position: absolute;
    right: 0px;
    top: 0px;
}
span.gearwheel img{
    width: 20px;
}
ul.park{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
ul.park li table{
    width: 100%;
    table-layout: fixed;
}
ul.park li table td{
    height: 65px;
    text-align: center;
    background: var(--gray);
    position: relative;
}
ul.cars-list{
    padding: 0;
}
ul.cars-list li{
    position: relative;
    display: block;
    height: 65px;
    margin-bottom: 5px;
}
ul.cars-list input[type="checkbox"]{
    display: none;
}
ul.cars-list li label{
    position: absolute;
    left: -50px;
    height: 65px;
    display: inline-block;
    vertical-align: top;
}
ul.cars-list label::before{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 25px 15px;
    vertical-align: middle;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 3px #bdc3c7;
    transition: all 0.2s;
}
ul.cars-list input[type="checkbox"]:checked + label::before{
    background: none;
    box-shadow: none;
    width: 14px;
    border-color: var(--blue);
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
    
}

ul.cars-list input[type="text"]{
    padding: 0;
    text-align: center;
    width: 98%;
    line-height: 54px;
    border: none;
    font-size: 20px;
    background: var(--gray);
    text-transform: uppercase;
}
.bottom.calculation.view{
    position: static;
    margin: auto;
    border: 12px solid var(--blue);
    width: 100%;
}
div.return{
    height: 65px;
}
fieldset{
    border-radius: 10px;
    border: 5px solid var(--dark-blue);
    padding: 0;
    margin-bottom: 50px;
    box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.4);
}
div.ul_container>div.ul>div>div.addAddition{
    background-color: var(--blue);
    color: white;
    font-weight: bold;
}
@keyframes move-to-left{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-101%);
    }
}
@keyframes move-from-left{
    from{
        transform: translateX(-101%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes move-to-right{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(101%);
    }
}
@keyframes move-from-right{
    from{
        transform: translateX(101%);
    }
    to{
        transform: translateX(0%);
    }
}
.ul_move_to_left{
    animation-name: move-to-left;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_from_left{

    animation-name: move-from-left;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_to_right{
    animation-name: move-to-right;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_from_right{

    animation-name: move-from-right;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul{
    position: absolute;

}
.ul_container{
    position: relative;
    overflow: hidden;
}
.polis_name {
    display: table;
    margin: auto;
    margin-left: 50px;
    background: var(--blue);
    color: white;
    text-align: center;
    width: calc(100% - 50px);
    overflow: hidden;
    -webkit-animation: moveFromRight 350ms ease-in-out both;
    animation: moveFromRight 350ms ease-in-out both;
  }