@charset "utf-8";
div.mi_slider{
    margin: auto;
}
div.dashboard_container{
    float: none;
    margin: auto;
    width: auto;
}
div.return, div.return a{
    text-align: center;
    font-size: 30pt;
    color: var(--tooltip-gray);
    text-decoration: none;
}
div.return a:hover{
    color: var(--blue);

}
.view {
    margin: auto;
}
.view_active{
    box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.4);
    display: block;
}

span.gearwheel{
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
}
span.gearwheel img{
    width: 20px;
}
.excel{
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 32px;
}
.excel img {
    width: 20px;
}
.choose_excel{
    z-index: 100;
    position: absolute;
    top: 5%;
    left: 100%;
    background-color: white;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    padding: 6px;

}
ul.park{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--blue);
}
ul.park li table{
    width: 100%;
    table-layout: fixed;
}
ul.park li table td{
    height: 65px;
    text-align: center;
    background: var(--gray);
    position: relative;
}
ul.cars-list{
    padding: 0;
}
ul.cars-list li{
    position: relative;
    display: block;
    height: 65px;
    margin-bottom: 5px;
}
ul.cars-list input[type="checkbox"]{
    display: none;
}
ul.cars-list li label{
    position: absolute;
    left: -50px;
    height: 65px;
    display: inline-block;
    vertical-align: top;
}
ul.cars-list label::before{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 25px 15px;
    vertical-align: middle;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 3px #bdc3c7;
    transition: all 0.2s;
}
ul.cars-list input[type="checkbox"]:checked + label::before{
    background: none;
    box-shadow: none;
    width: 14px;
    border-color: var(--blue);
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
    
}

ul.cars-list input[type="text"]{
    padding: 0;
    text-align: center;
    width: 98%;
    line-height: 54px;
    border: none;
    font-size: 20px;
    background: var(--gray);
    text-transform: uppercase;
}
.bottom.calculation{
    position: static;
    margin: 0;
    border: 1px solid var(--blue);
    width: 100%;
}
div.return{
    height: 65px;
}
fieldset{
    border-radius: 10px;
    border: 2px solid var(--blue);
    padding: 0;
    margin-bottom: 25px;
    box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.4);
}
div.ul_container>div.ul>div>div.addAddition{
    background-color: var(--blue);
    color: white;
    font-weight: bold;
}
@keyframes move-to-left{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-101%);
    }
}
@keyframes move-from-left{
    from{
        transform: translateX(-101%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes move-to-right{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(101%);
    }
}
@keyframes move-from-right{
    from{
        transform: translateX(101%);
    }
    to{
        transform: translateX(0%);
    }
}
.ul_move_to_left{
    animation-name: move-to-left;
    animation-duration: 150ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_from_left{

    animation-name: move-from-left;
    animation-duration: 150ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_to_right{
    animation-name: move-to-right;
    animation-duration: 150ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul_move_from_right{

    animation-name: move-from-right;
    animation-duration: 150ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.ul{
    position: absolute;

}
.ul_container{
    position: relative;
    overflow: hidden;
}
div.matrix_container:not(.calc){
    margin-left: 0px;
    height: calc(100vh - 280px);
}
.matrix_row{
    cursor: pointer;
}
.matrix_row td p{
    display: inline;
}
tbody{
    width: 100%;
}

#save:hover::after{
    top: 41%;
}
#reload:hover::after{
    top: 66%;
} 
#home:hover::after{
    top: 12%;
}
.multi{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    /* display: none; */
}
legend {
    font-size: 1.2em;
    color: var(--dark-blue);
}
.arrow_down_conditions{
    display: inline;
    margin-right: 10px;
    margin-left: 20px;
    color: var(--dark-blue);
    font-size: 1em;
    cursor: pointer;
}
.matrix_row td {
    padding: 4px 8px 4px 8px;
}
ul.park li table .td_cars{
    height: 35px;
}
.input_cars{
    display: inline;
    border: none;
    line-height: 1;
    background: var(--gray);
    text-align: center;
    font-family: Lato, Calibri, Arial, sans-serif;
    font-size: 1em;
    color: var(--dark-blue);
}

.open_cars{
    width: 99%;
    height: 100%;
    border: none;
    line-height: 1;
    background: var(--gray);
    text-align: center;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: var(--dark-blue);
}