.nav-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30%;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--gray);
  width: auto;
}
.nav-option-container {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  border: 1px solid white;
}
.nav-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 5px;
}
.nav-back_container{
  display: flex;
  flex-direction: row;
  animation: moveFromLeft 250ms ease-in-out both;
}
.nav-back_option {
  margin: auto 10px auto 10px;
  cursor: pointer;
}
.nav-back_container--hidden{
  display: none;
}
