<div class="nav nav_modified">
    <div>
        <div  ng-repeat="param in editor.stage1" 
        ng-click="selectParam(editor.stage1,$index,1)" 
        class="clickable" 
        ng-class="[{alreadySelected: editor.active.stage1===editor.stage1.indexOf(param)},{mi_selected: editor.exactEditingObj===param}]"
        >
            {{param.name||param.url}}
        </div>
    </div>
</div>
<div class="nav nav_modified" ng-if="editor.stage2">
    <div>
        <div  ng-repeat="param in editor.stage2" 
        ng-click="selectParam(editor.stage2,$index,2)" 
        class="clickable" 
        ng-class="[{alreadySelected: editor.active.stage2===editor.stage2.indexOf(param)},{mi_selected: editor.exactEditingObj===param}]"
        >
            {{param.name||param.url||param.risk||0}}
        </div>
    </div>
</div>
<div class="nav nav_modified" ng-if="editor.stage3">
    <div>
        <div  ng-repeat="param in editor.stage3" 
        ng-click="selectParam(editor.stage3,$index,3)" 
        class="clickable" 
        ng-class="[{alreadySelected: editor.active.stage3===editor.stage3.indexOf(param)},{mi_selected: editor.exactEditingObj===param}]"
        >
            {{param.name||param.url||param.risk||0}}
        </div>
    </div>
</div>
<div class="nav nav_modified" ng-if="editor.stage4">
    <div>
        <div  ng-repeat="param in editor.stage4" 
        ng-click="selectParam(editor.stage4,$index,4)" 
        class="clickable" 
        ng-class="[{alreadySelected: editor.active.stage4===editor.stage4.indexOf(param)},{mi_selected: editor.exactEditingObj===param}]"
        >
            {{param.name||param.url||param.risk||0}}
        </div>
    </div>
</div>
<div class="nav nav_modified" ng-if="editor.stage5">
    <div>
        <div  ng-repeat="param in editor.stage5" 
        ng-click="selectParam(editor.stage5,$index,5)" 
        class="clickable" 
        ng-class="[{alreadySelected: editor.active.stage5===editor.stage5.indexOf(param)},{mi_selected: editor.exactEditingObj===param}]"
        >
            {{param.name||param.url||param.risk||0}}
        </div>
    </div>
</div>
<div class="nav param_info nav_modified" ng-if="editor.editingParam">
    Параметры выбранного объекта:
    <div>
        <div>
            <p>Порядковый номер</p> 
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-around;">
            <p style="cursor: pointer;" ng-click="switchOrder('left')">	◄   </p>
            <p>{{editor.activeIndex+1}}</p>
            <p style="cursor: pointer;" ng-click="switchOrder('right')">   	►</p>
        </div>
    </div>
    <div ng-repeat="param in editor.editingParam"
        ng-if="param[0]!=='model'">
        <!-- Блок названий левого столбца -->
        <div  
            class="clickable param_row" ng-class="{alreadySelected: editor.active.stage4===editor.stage4.indexOf(param)}"
            ng-switch="param[0]"
            >
                <p ng-switch-when='name'>
                    Название
                </p>
                <!-- <p ng-switch-when='model'>
                    Модель
                </p> -->
                <p ng-switch-when='url'>
                    Название углубления
                </p>
                <p ng-switch-when='type'>
                    Тип
                </p> 
                <p ng-switch-when='value'>
                    Значение/Коэффициент
                </p>
                <p ng-switch-when='title'>
                    Описание
                </p>
                <p ng-switch-when='times'>
                    Кол-во случаев
                </p>
                <p ng-switch-when='risk'>
                    Название риска
                </p> 
                <p ng-switch-when='action'>
                    Действие
                </p>
                <p ng-switch-when='limit'>
                    Долей единицы от лимита (от 0 до 1)
                </p> 
                <p ng-switch-when='baseRisk'>
                    Является базовым
                </p> 
                <p ng-switch-default>
                    {{param[0]}}
                </p>
        </div>
        <div 
            class="clickable param_row" ng-class="{alreadySelected: editor.active.stage4===editor.stage4.indexOf(param)}"
            ng-switch="param[1]"
            >
                <p ng-switch-when="amount">
                    Количество
                </p>
                <p ng-switch-when="cost">
                    Цена
                </p>
                <p ng-switch-when="risk">
                    Риск
                </p>
                <p ng-switch-when="url">
                    Углубление
                </p>
                <p ng-switch-when="true">
                    Да
                </p>
                <p ng-switch-when="package">
                    Пакет рисков
                </p>
                <p ng-switch-when="selectAll">
                    Выбрать все
                </p>
                <div style="display: flex;flex-direction: row;justify-content: center;" 
                    ng-if="editor.editingObj.limit&&param[0]==='risk'">
                    <p>{{param[1]}}</p>
                    <p style="cursor: pointer;margin-left: 20px;" ng-click="switchRiskInPack()">▼</p>
                </div>
                <textarea ng-switch-default
                    rows="{{param[0]==='title'?3:1}}" class="param_input" type="text" ng-value="param[1]"
                    ng-class="{resizable: param[0]==='title'}" 
                    ng-blur="inputChange(param,$event.target)"
                    ng-if="!(editor.editingObj.limit&&param[0]==='risk')">
        </div>
    </div>
    
</div>



