<div class="nav">
    <div>
        <div  ng-repeat="param in editor.stage1" 
        ng-click="selectParam(editor.stage1,$index,1)" 
        class="clickable" ng-class="{alreadySelected: editor.active.stage1===editor.stage1.indexOf(param)}"
        >
            {{param.name||param.url}}
        </div>
    </div>
</div>
<div class="nav" ng-if="editor.stage2">
    <div>
        <div  ng-repeat="param in editor.stage2" 
        ng-click="selectParam(editor.stage2,$index,2)" 
        class="clickable" ng-class="{alreadySelected: editor.active.stage2===editor.stage2.indexOf(param)}"
        >
            {{param.name||param.url}}
        </div>
    </div>
</div>
<div class="nav" ng-if="editor.stage3">
    <div>
        <div  ng-repeat="param in editor.stage3" 
        ng-click="selectParam(editor.stage3,$index,3)" 
        class="clickable" ng-class="{alreadySelected: editor.active.stage3===editor.stage3.indexOf(param)}"
        >
            {{param.name||param.url}}
        </div>
    </div>
</div>
<div class="nav" ng-if="editor.stage4">
    <div>
        <div  ng-repeat="param in editor.stage4" 
        ng-click="selectParam(editor.stage4,$index,4)" 
        class="clickable" ng-class="{alreadySelected: editor.active.stage4===editor.stage4.indexOf(param)}"
        >
            {{param.name||param.url}}
        </div>
    </div>
</div>
<div class="nav param_info" ng-if="editor.editingParam">
    <div ng-repeat="param in editor.editingParam">
        <div  
            class="clickable param_row" ng-class="{alreadySelected: editor.active.stage4===editor.stage4.indexOf(param)}"
            >
                {{param[0]}}
        </div>
        <div 
            class="clickable param_row" ng-class="{alreadySelected: editor.active.stage4===editor.stage4.indexOf(param)}"
            >
                <textarea rows="{{param[0]==='title'?3:1}}" class="param_input" type="text" ng-value="param[1]" ng-blur="inputChange(param,$event.target.value)">
        </div>
    </div>
</div>
<div>
    <button ng-click="saveJSON()">SAVE JSON</button>
</div>
