<link rel="stylesheet" href="./templates/paths/calculation/style.css">
<link rel="stylesheet" href="./templates/paths/editor/style.css">
<div class="window-header" ng-class="{nomarginleft: dashboard.myFactory.matrixType!=='HIP'}">{{editor.editingObj.name || editor.editingObj.risk || editor.editingObj.url || 'Редактор каретки'}}. {{myFactory.HIPname}}</div>
<div class="dashboard_container" style="height: unset;" ng-class="{nomarginleft: dashboard.myFactory.matrixType!=='HIP'}" editor-dashboard></div>
<div class="manipulate" ng-if="editor.editingParam" manipulate-row></div>
<div editor-nav></div>
<div class='modal_picker' style="display: none">
  <div class="modal_picker_box">
      <div ng-repeat="risk in editor.pickerRisks"
        style="cursor: pointer;"
        ng-click="onClickNameInPack(risk)">
          <p>{{risk}}</p>
        </div>
  </div>

</div>