<link rel="stylesheet" href="./templates/paths/calculation/style.css">
<link rel="stylesheet" href="./templates/paths/editor/style.css">
<div class="window-header" ng-class="{nomarginleft: dashboard.myFactory.matrixType!=='HIP'}">Редактор каретки</div>
<div class="dashboard_container" style="height: unset;" ng-class="{nomarginleft: dashboard.myFactory.matrixType!=='HIP'}" editor-dashboard></div>
<div class="manipulate" ng-if="editor.editingParam">
  <div class="manipulate_row">
    <div class="manipulate_cell" 
      ng-if="editor.editingObjCanDelete"
      ng-click="onDeleteActiveElement()">
      <p>Удалить этот элемент</p>
    </div>
    <div class="disabled_cell" 
      ng-if="!editor.editingObjCanDelete">
      <p>{{editor.notDeleteMessage}}</p>
    </div>
    <div class="manipulate_cell"
      ng-click="onAddNew('packageRisk')"
      ng-if="editor.editingObj.action==='package'">
      <p>Добавить риск пакетный</p>
    </div>
    <div class="manipulate_cell"
      ng-click="onAddNew('risk')"
      ng-if="editor.editingObj.model==='risk'||editor.editingObj.model==='wrapping'">
      <p>Добавить риск</p>
    </div>
    <div class="manipulate_cell"
      ng-click="onAddNew('url')"
      ng-if="editor.editingObj.model==='risk'||editor.editingObj.model==='wrapping'">
      <p>Добавить углубление</p>
    </div>
    <div class="manipulate_cell"
      ng-click="onAddNew('copy')"
      ng-if="editor.editingObj.model&&editor.editingObj.model!=='risk'&&editor.editingObj.model!=='wrapping'">
      <p>Добавить дочерний элемент</p>
    </div>
  </div>
</div>
<div>
    <button ng-click="saveJSON()">SAVE JSON</button>
</div>
<div class='modal_picker' style="display: none">
  <div class="modal_picker_box">
      <div ng-repeat="risk in editor.pickerRisks"
        style="cursor: pointer;"
        ng-click="onClickNameInPack(risk)">
          <p>{{risk}}</p>
        </div>
  </div>
    
  
</div>