<div class="nav-container">
    <div class="nav-option hover-hint" id="home" data-name="Главное меню" ng-click="relocatePage('dashboard')">
        <img class="nav-icon" src="./img/nav/home.png" alt="Главное меню">
    </div>
    <div class="nav-option hover-hint" id="calc" data-name="Расчет" ng-click="relocatePage('calculation')">
        <img class="nav-icon" src="./img/nav/calculator.png" alt="">
    </div>
    <div class="nav-option hover-hint" id="save" data-name="Сохранить" ng-click="saveJSON()">
        <img class="nav-icon" src="./img/nav/save.png" alt="">
    </div>
    <div class="nav-option hover-hint" id="reload" data-name="Сбросить изменения" ng-click="reloadPage()">
        <img class="nav-icon" src="./img/nav/reload.png" alt="">
    </div>
</div>