.param_info {
  border: 1px solid var(--dark-blue) !important;
  margin-top: 32px !important;
}
.param_row {
  min-height: 48px !important;
}
.param_input {
  width: 90%;
  border: none;
  line-height: 1;
  background: var(--gray);
  text-align: center;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 12pt;
  resize: none;
  padding: 4px;
}
.manipulate {
  display: inline-block;
  margin: 16px 50px 0px 0px;
  width: inherit;
}
.manipulate_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.manipulate_cell {
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--gray);
  padding: 0px 8px 0px 8px;
  border: 1px solid var(--dark-blue);
}
.manipulate_cell:hover{
  color: white;
  background: var(--light-blue);
  opacity: 1;
}
.disabled_cell {
  border-radius: 10px;
  background-color: white;
  padding: 0px 8px 0px 8px;
  border: 1px solid var(--dark-blue);
  opacity: .4;
}
.nav_modified {
  height: 60px !important;
}
.resizable {
  resize: vertical !important;
}
.modal_picker {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}
.modal_picker_box{
  width: 40%;
  min-height: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: white;
  z-index: 1001;
  opacity: 1;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--dark-blue);
}
#calc:hover::after{
  top: 29%;
}
#save:hover::after{
  top: 90px;
}
#reload:hover::after{
  top: 76%;
}
#home:hover::after{
  top: 8%;
}
#karetka:hover::after{
  top: 100%;
  left: 10%;
}