.param_info {
  border: 1px solid var(--dark-blue) !important;
  margin-top: 32px !important;
}
.param_row {
  min-height: 48px !important;
}
.param_input {
  width: 90%;
  border: none;
  line-height: 1;
  background: var(--gray);
  text-align: center;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 12pt;
  resize: none;
  padding: 4px;
}
.manipulate {
  display: inline-block;
  margin: 16px 50px 0px 50px;
  width: inherit;
}
.manipulate_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.manipulate_cell {
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--gray);
  padding: 0px 8px 0px 8px;
  border: 1px solid var(--dark-blue);
}
.manipulate_cell:hover{
  color: white;
  background: var(--light-blue);
  opacity: 1;
}
.disabled_cell {
  border-radius: 10px;
  background-color: white;
  padding: 0px 8px 0px 8px;
  border: 1px solid var(--dark-blue);
  opacity: .4;
}
.nav_modified {
  height: 60px !important;
}
.resizable {
  resize: vertical !important;
}