<div class="ul_container">
        <div ng-class="[
                {mi_current: dashboard.currentUl($index)},
                {mi_moveFromRight: dashboard.currentUl($index)},
                { mi_moveToRight: !dashboard.currentUl($index)}
            ]"
            ng-if="newDashboard.checkCurrentPage('title')" class="ul">
            <textarea  ng-model="dashboard.myFactory.polisCurrent.name"
            class="input_polisEditor" autofocus ng-keyup="inputHandler($event,newDashboard.TITLE_INDEX)"></textarea>
        </div>
        <div ng-repeat="param in currObj" class="ul"
             ng-class="[
                {mi_current: dashboard.currentUl($index)},
                {mi_moveFromRight: dashboard.currentUl($index)},
                { mi_moveToRight: !dashboard.currentUl($index)}
             ]"
             ng-if="$index==newDashboard.currentPage" >      
             <textarea  ng-model="param.text"
             class="input_polisEditor" autofocus ng-keyup="inputHandler($event,$index)"></textarea>
        </div>
        <div ng-class="[
                {mi_current: dashboard.currentUl(currObj.length+1)},
                {mi_moveFromRight: dashboard.currentUl(currObj.length+1)},
                { mi_moveToRight: !dashboard.currentUl(currObj.length+1)}
            ]"
            ng-show="newDashboard.checkCurrentPage('add')" class="ul">
            <textarea class="input_polisEditor" ng-model="newValue" ng-keyup="addNewValue($event)" autofocus></textarea>
        </div>
    
    </div>
    <div class="nav">
        <div>
            <div ng-click="newDashboard.setCurrentPage('title')" ng-class="{mi_selected: newDashboard.checkCurrentPage('title')}">
               Название списка
           </div>
            <div ng-repeat="param in currObj"
                 ng-click="newDashboard.setCurrentPage($index)"
                    ng-if="param.checked"
                    ng-class="[{mi_selected: newDashboard.checkCurrentPage($index)}]">
                {{$index+1}}
            </div>
            <div    ng-click="newDashboard.setCurrentPage('add')"
                    ng-class="[{mi_selected: newDashboard.checkCurrentPage('add')}]">
                {{(getCheckedConditions()>3)?'+':'Добавить'}}
            </div>
        </div>
    </div>
    