<div class="nav-container">
    <div class="nav-option hover-hint" id="add" data-name="Добавить" ng-click="applyAddition();">
        <img class="nav-icon" src="./img/nav/add.png" alt="Добавить">
    </div>
    <div style="opacity: 0.3" class="nav-option hover-hint" id="save" data-name="Сохранить" ng-click="">
        <img class="nav-icon" src="./img/nav/save.png" alt="">
    </div>
    <div style="opacity: 0.3" class="nav-option hover-hint" id="reload" data-name="Очистить" ng-click="">
        <img class="nav-icon" src="./img/nav/reload.png" alt="">
    </div>
</div>