.input_polisEditor{
  width: 100%;
  background:var(--gray);
  resize: none;
  height: 100%;
  font-size: 1em;
  padding: 4px 8px 4px 8px;
  border: none;
}
.posiEditor_condition{
  text-align: left;
  padding: 4px 8px 4px 8px;
}
.polisEditorMatrixRow_header{
  text-align: center;
}
div.dashboard_container {
  width: 100%;
}