<div class="nav-container">
    <div class="nav-option hover-hint" id="home" data-name="Главное меню" ng-click="changeLocation('/')">
        <img class="nav-icon" src="img/nav/home.png" alt="Главное меню">
    </div>
    <div class="nav-option hover-hint" id="save" ng-if="cardNotEmpty" data-name="Сохранить" ng-click="saveCompany()">
        <img class="nav-icon" src="img/nav/save.png" alt="">
    </div>
    <div class="nav-option hover-hint" id="polis" data-name="Полис" ng-if="cardNotEmpty" ng-click="changeLocation('polis')">
        <img class="nav-icon" src="img/nav/document.png" alt="">
    </div>
    <div class="nav-option hover-hint" id="reload" ng-if="cardNotEmpty" data-name="Очистить таблицу" ng-click="reload()">
        <img class="nav-icon" src="img/nav/reload.png" alt="">
    </div>
</div>