div.dashboard_container {
    float: none;
    width: 100%;
}
div#tooltip_box {
    margin-left: 0;
    width: 100%;
    height: 65px;
}
.clientCard {
    margin-left: 0;
    width: 100%;
}

.ul{
    position: absolute;

}
.ul_container{
    position: relative;
    overflow: hidden;
}
.company_matrix_header {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    color: white;
    font-size: 0.8em;
    margin-top: 2px;
    margin-bottom: 2px;
    position: absolute;
    top: -2px;
    left: 0px;
    display: block;
    width: 100%;
}
.company_matrix_header--red {
    background-color: var(--red);
    border: 1px solid var(--red);
}
.company_matrix_name {
    margin-top: 1em;
}
.selected{
    box-shadow: 0 0 5px var(--light-blue);
}
#save:hover::after{
    top: 29%;
}
#polis:hover::after{
    top: 57%;
}
#reload:hover::after{
    top: 76%;
} 
#home:hover::after{
top: 8%;
}