<table class="matrix bottom calculation">
    <tbody>
        <tr ng-controller="calculationCtrl as calculation" class="matrix">

            <!-- Премия -->
            <td class="properties button"      ng-if="myFactory.bottom.priceMode=='price'" ng-click="myFactory.bottom.priceMode='practicalPrice'">Премия:</td>
            <td style="color: #35bfff; text-align: center" ng-if="myFactory.bottom.priceMode=='price'" ng-hide="myFactory.bottom.singleAmount">{{calculation.applyFilter(myFactory.totalPrice, "cost")}}</td>
            <td style="color: #35bfff; text-align: center" ng-if="myFactory.bottom.priceMode=='price'" ng-show="myFactory.bottom.singleAmount">{{calculation.applyFilter(myFactory.totalPriceForSingle, "cost")}}</td>
            <!-- /Премия -->

            <!-- Фактическая премия -->
            <td class="properties" ng-if="myFactory.bottom.priceMode=='practicalPrice'" ng-click="myFactory.bottom.priceMode='agents'">Факт. премия:</td>
            <td class="properties" ng-if="myFactory.bottom.priceMode=='practicalPrice'" ng-class="{redPrice: myFactory.practicalPrice.koef && myFactory.practicalPrice.koef!=1}" >
                {{calculation.applyFilter(myFactory.practicalPrice.val, "cost")}}</td>
            <!-- /Фактическая премия -->

            <!-- Агентские -->
            <td class="properties" ng-if="myFactory.bottom.priceMode=='agents'" ng-click="myFactory.bottom.priceMode='price'">Агентские</td>
            <td class="properties" ng-if="myFactory.bottom.priceMode=='agents'">
                {{(myFactory.agents.val=='')? '0': myFactory.agents.val}} {{myFactory.agents.mode}}
            </td>
            <!-- /Агентские -->

            <!-- Грузооборот -->
            <td class="properties" ng-hide="myFactory.bottom.singleAmount">{{calculation.applyFilter(myFactory.totalAmount, "amount")}}</td>
            <td class="properties" ng-show="myFactory.bottom.singleAmount">{{calculation.applyFilter(myFactory.totalAmountForSingle, "amount")}}</td>
            <!-- /Грузооборот -->

            <!-- Агрегатный лимит -->
            <td class="properties" >{{myFactory.a_limit.type}}:</td>
            <td class="properties" ng-class="{hand: myFactory.a_limit.hand}">{{myFactory.a_limit.value}}</td>
            <!-- /Агрегатный лимит -->


            <td class="clickable" style="text-align: center; cursor: pointer;">Этапы  <span style="color: orange;">{{myFactory.payment.mode}}</span></td>
            <td class="properties" ng-class="{hand: myFactory.payment.hand}">{{myFactory.payment.val}}</td>
        </tr>
    </tbody>
</table>