<div class="ul_container">
    <div ng-repeat="param in calculation.currObj" class="ul" ng-class="[{mi_current: calculation.currentUl($index)}, {mi_moveFromRight: calculation.currentUl($index)},{ mi_moveToRight: !calculation.currentUl($index)}]" ng-show="calculation.currentUl($index)" >
        <div>
            <div ng-class="[{alreadySelected: value.selected},{keyFriendly : calculation.myFactory.foc}]" ng-repeat="value in param.values  track by $index"
                 ng-click="calculation.clickedOnTopOfDashboard(value, param)">
                {{value.type == "relocate_here" || value.type == "relocatePage" || value.type=="risk" || value.type=="saveCalc" || value.type=="button" ? value.name : value.type=="currency" || value.type=="amount" ? calculation.applyFilter(value) : value.type=="amountType" ? calculation.myFactory.amountType : value.type=="currencyValue" ? calculation.myFactory.document.currency : ""}}
                <input ng-if="value.type == 'inputForCurrency'" ng-focus="calculation.myFactory.foc=false" ng-blur="calculation.myFactory.foc=true" type="text" param="{{param.model}}" ng-model="param.selected" placeholder="{{value.type=='inputForCurrency' ? 'Точное число' : value.name}}" style="color: #35bfff;" currency-input="{{param}}">
                <input ng-if="value.type == 'input_search'" ng-focus="calculation.myFactory.foc=false" ng-blur="calculation.myFactory.foc=true" name="value.model" ng-model="value.val" ng-controller="searchCtrl as searchCtrl" ng-change="searchCtrl.makeSearch(param)" type="text" placeholder="{{value.type=='inputForCurrency' ? 'Точное число' : value.name}}">
                <input ng-if="value.type == 'inputSaveCalc'" ng-focus="calculation.myFactory.foc=false" ng-blur="calculation.myFactory.foc=true" type="text" 
                ng-model="calculation.nameOfCalculation" ng-controller="searchCtrl as searchCtrl" 
                ng-change="searchCtrl.makeSearch({
                    url:'calculationActions',
                    values:[
                        {
                            model: 'name',
                            name: 'Название',
                            val: calculation.nameOfCalculation
                        }
                    ]
                })" 
                placeholder="{{value.name}}" style="color: #35bfff;">
            </div>
        </div>
    </div>
    <div  id="pseudoDashboard" class="ul" ng-click="calculation.reloadDashboard('calculationActions.json','calculationActions')" ng-class="[{mi_current: calculation.myFactory.document.currParam===''}, {mi_moveFromRight: calculation.myFactory.document.currParam===''},{ mi_moveToRight: !calculation.myFactory.document.currParam===''}]" ng-show="calculation.myFactory.document.currParam===''" >
        <div>Управление объектом</div>

    </div>
</div>
<div class="nav">
    <div>
        <div  ng-repeat="param in calculation.currObj" ng-click="param.able=='none' ? '' : calculation.karetka.mode!='changing process' ? calculation.selectParam($index) : calculation.selectParam($index) " ng-if="param.name" ng-class="[{mi_selected: calculation.myFactory.document.selectedParam===$index}, {alreadySelected : calculation.alreadySelected(param.model)},{keyFriendly : calculation.myFactory.foc}]">
            {{param.able=='none' ? '' : 
            param.selected ? 
                param.model=="amount" ? 
                    calculation.applyFilter(param.selected, "badAssAmount") : 
                    calculation.applyFilter(param.selected, param.model) 
                : param.name}}
        </div>
    </div>
</div>
