<div class="ul_container">
    <div ng-repeat="param in calculation.currObj" class="ul" ng-class="[{mi_current: calculation.currentUl($index)}, {mi_moveFromRight: calculation.currentUl($index)},{ mi_moveToRight: !calculation.currentUl($index)}]" ng-show="calculation.currentUl($index)" >
        <div>
            <div ng-class="[{alreadySelected: value.selected},{keyFriendly : calculation.myFactory.foc},{disable: value.type=='resaveCalc'&&!calculation.myFactory.calcObj.isSaved}]" ng-repeat="value in param.values  track by $index"
                 ng-click="calculation.clickedOnTopOfDashboard(value, param)" class="clickable" data-disableMsg="{{value.type=='resaveCalc' ? 'Расчет еще не сохранен': ''}}">
                {{value.type == "relocate_here" || value.type == "relocatePage" || value.type=="risk" || value.type=="saveCalc"|| value.type=="resaveCalc" || value.type=="button" ? 
                value.name : 
                value.type=="currency" || value.type=="amount" ? 
                calculation.applyFilter(value) : 
                value.type=="amountType" ? 
                calculation.myFactory.amountType : 
                value.type=="currencyValue" ? 
                calculation.myFactory.document.currency : ""}}
                <input ng-if="value.type == 'inputForCurrency'" ng-focus="calculation.myFactory.foc=false" ng-blur="calculation.myFactory.foc=true" type="text" param="{{param.model}}" ng-model="param.selected" placeholder="{{value.type=='inputForCurrency' ? 'Точное число' : value.name}}" style="color: #35bfff;" currency-input="{{param}}" id="inputForCurrency-{{param.model}}">
                <input ng-if="value.type == 'input_search'" ng-focus="calculation.myFactory.foc=false" ng-blur="calculation.myFactory.foc=true" name="value.model" ng-model="value.val" ng-controller="searchCtrl as searchCtrl" ng-change="searchCtrl.makeSearch(param)" type="text" placeholder="{{value.type=='inputForCurrency' ? 'Точное число' : value.name}}">
                <input id="inputSaveCalc" ng-if="value.type == 'inputSaveCalc'" ng-focus="calculation.myFactory.foc=false" ng-blur="calculation.myFactory.foc=true" type="text" 
                ng-model="calculation.nameOfCalculation" ng-controller="searchCtrl as searchCtrl" 
                placeholder="{{value.name}}" style="color: rgb(0, 111, 167);" ng-keypress="calculation.keyHandler($event)">
                
                <input ng-if="value.type == 'inputResaveCalc'" ng-focus="calculation.myFactory.foc=false" ng-blur="calculation.myFactory.foc=true" type="text" 
                ng-model="searchInput" ng-controller="searchCtrl as searchCtrl" 
                placeholder="{{value.name}}" style="color: rgb(0, 111, 167);" ng-change="searchInput.length>1 ?searchCtrl.makeSearch({
                    url:'calculationActions',
                    values:[
                        {
                            model: 'name',
                            name: 'Название',
                            val: searchInput
                        }
                    ]
                }) : false">

                <input ng-if="value.type == 'inputCompany'" type="text" 
                ng-model="calculation.nameOfCompany" ng-controller="searchCtrl as searchCtrl" 
                ng-change="calculation.nameOfCompany.length>=1 ? 
                        searchCtrl.searchForPolis({
                            type: 'Компания',
                            value: calculation.nameOfCompany
                        }) : ''"  
                placeholder="{{value.name}}" style="color: rgb(0, 111, 167);">

            </div>
        </div>
    </div>
</div>
<div class="nav">
    <div>
        <div  ng-repeat="param in calculation.currObj" 
        ng-click="param.able=='none' ? '' : calculation.karetka.mode!='changing process' ? calculation.selectParam($index) : calculation.selectParam($index) " 
        ng-if="param.name" 
        ng-class="[{mi_selected: calculation.myFactory.document.selectedParam===$index}, {alreadySelected : calculation.alreadySelected(param.model)},{keyFriendly : calculation.myFactory.foc}]" class="clickable">
            <div class="depth-symbol" ng-click="calculation.selectParentParam();$event.stopPropagation();" ng-if="calculation.karetkaDepth>1&&calculation.myFactory.document.selectedParam===$index">{{calculation.depthSymbol(calculation.karetkaDepth);}}</div> 
            {{param.able=='none' ? '' : 
            param.selected ? 
                param.model=="amount" ? 
                    calculation.applyFilter(param.selected, "badAssAmount") : 
                    calculation.applyFilter(param.selected, param.model) 
                : param.name}}
        </div>
    </div>
</div>
