<link rel="stylesheet" href="./templates/paths/calculation/style.css">
<div id="loading_modal" loading></div>
<div class="window-header" ng-class="{nomarginleft: dashboard.myFactory.matrixType!=='HIP'}">{{(dashboard.myFactory.matrixType!='HIP'&&(dashboard.myFactory.document.selectedParam==1||dashboard.myFactory.document.selectedParam==2))? 'Привязать ':''}} Расчет:  {{(calculation.myFactory.calculationName===undefined || calculation.myFactory.calculationName==="")? (calculation.myFactory.calcObj.isLinked) ? 'привязанный' : "без названия" : calculation.myFactory.calculationName}}. Тип: {{calculation.myFactory.HIPname}}</div>
<div ng-model="dashboard.myFactory.multi.mode" 
    ng-if="dashboard.myFactory.matrixType=='HIP'" 
    ng-click="calculation.multiClicked()" 
    ng-class="{alreadySelected: dashboard.myFactory.multi.mode}" 
    class="multi">+</div>
<div class="dashboard_container" ng-class="{nomarginleft: dashboard.myFactory.matrixType!=='HIP'}" calculation-dashboard></div>
<div id="tooltip_box" calculation-return></div>

<div class="matrix_container" ng-controller="matrixCtrl as matrixCtrl" ng-class="[{calc:dashboard.myFactory.matrixType=='HIP'},{nomarginleft: dashboard.myFactory.matrixType!=='HIP'}]">
    <div ng-if="calculation.currObj[calculation.myFactory.document.currParam].url==='Компания'" search-company></div>
    <table class="matrix" ng-if="dashboard.myFactory.matrixType=='calculationActions'&&dashboard.myFactory.document.selectedParam==0&&(dashboard.myFactory.document.currParam==5||dashboard.myFactory.document.currParam==0)" find-calculation></table>
    <div ng-if="dashboard.myFactory.matrixType=='HIP'" calculation-matrix ng-controller="HIP as HIP"></div>
</div>
<div calculation-nav></div>
<div ng-if="dashboard.myFactory.matrixType=='HIP' && dashboard.myFactory.totalPrice!=undefined && dashboard.myFactory.totalPrice!=0" calculation-bottom></div>
<div class="settings_btn" data-name="Редактор кареток" ng-click="calculation.openEditor()">
    <img src="img/gearwheel.png" alt="settings" alt="settings">
</div>
<div class='modal_picker' id="modal_hipeditor" style="display: none">
    <div class="modal_picker_box">
        <div class="close_cross" ng-click="calculation.closeModal('modal_hipeditor')">X</div>
        <div ng-repeat="val in calculation.myFactory.karetkaEditor.show"
          style="cursor: pointer;"
          ng-click="calculation.chooseEditor(val.name)">
            <p>{{val.name}}</p>
          </div>
    </div>
</div>
<div class='modal_picker' id="modal_hipchanger" style="display: none">
    <div class="modal_picker_box">
        <div class="close_cross" ng-click="calculation.closeModal('modal_hipchanger')">X</div>
        <div ng-repeat="val in calculation.myFactory.karetkaEditor.data"
          style="cursor: pointer;"
          ng-click="calculation.closeHipChanger();calculation.setHIP(val.name);">
            <p>{{val.name}}</p>
          </div>
    </div>
</div>