<link rel="stylesheet" href="./templates/paths/calculation/style.css">
<div class="window-header">{{(dashboard.myFactory.matrixType!='HIP'&&(dashboard.myFactory.document.selectedParam==1||dashboard.myFactory.document.selectedParam==2))? 'Привязать ':''}}Расчет:   {{(calculation.myFactory.calculationName===undefined || calculation.myFactory.calculationName==="")? "без названия" : calculation.myFactory.calculationName}}</div>
<div ng-model="dashboard.myFactory.multi.mode" 
    ng-if="dashboard.myFactory.matrixType=='HIP'" 
    ng-click="calculation.multiClicked()" 
    ng-class="{alreadySelected: dashboard.myFactory.multi.mode}" 
    class="multi">+</div>
<div class="dashboard_container" calculation-dashboard></div>
<div id="tooltip_box" calculation-return></div>

<div class="matrix_container" ng-controller="matrixCtrl as matrixCtrl" ng-class="{calc:dashboard.myFactory.matrixType=='HIP'}">
    <div ng-if="calculation.currObj[calculation.myFactory.document.currParam].url==='Компания'" search-company></div>
    <!-- если нужны результаты поиска при сохранении расчетов <table class="matrix" ng-if="dashboard.myFactory.matrixType=='calculationActions'&&dashboard.myFactory.document.selectedParam==0" find-calculation></table> -->
    <div ng-if="dashboard.myFactory.matrixType=='HIP'" calculation-matrix ng-controller="HIP as HIP"></div>
</div>
<div calculation-nav></div>
<div ng-if="dashboard.myFactory.matrixType=='HIP' && dashboard.myFactory.totalPrice!=undefined && dashboard.myFactory.totalPrice!=0" calculation-bottom></div>
