<div class="nav-container">
    <div class="nav-option hover-hint" id="home" data-name="Главное меню" ng-click="calculation.unexpectedSave();calculation.relocatePage('dashboard')">
        <img class="nav-icon" src="./img/nav/home.png" alt="Главное меню">
    </div>
    <div class="nav-option">
        <div class="select_HIP" ng-click="calculation.openHipChangeMenu()" ng-if="calculation.myFactory.parks.length===0">
            <div class="hover-hint" id="karetka" data-name="Тип каретки">
                <img ng-src="./img/truck.png" alt="" class="nav-icon hover-hint" title="Тип каретки">
            </div>
        </div>
    </div>
    <div class="nav-option hover-hint" id="save" data-name="Сохранение и привязка" ng-if="calculation.myFactory.parks.length!==0" ng-click="calculation.unexpectedSave();calculation.reloadDashboard('calculationActions.json','calculationActions')">
        <img class="nav-icon" src="./img/nav/save.png" alt="">
    </div>
    <div class="nav-option hover-hint" id="polis" data-name="Проект документа" ng-if="calculation.myFactory.parks.length!==0" ng-click="calculation.unexpectedSave();calculation.relocatePage('polis')">
        <img class="nav-icon" src="./img/nav/document.png" alt="">
    </div>
    <div class="nav-option hover-hint" id="reload" data-name="Очистить расчет" ng-if="calculation.myFactory.parks.length!==0" ng-click="calculation.unexpectedSave();calculation.myFactory.cleanCalculations();calculation.cleanCalcObj();calculation.reloadDashboard(hipFileName,'HIP');">
        <img class="nav-icon" src="./img/nav/reload.png" alt="">
    </div>
</div>