<div class="nav-container">
  <div class="nav-option" ng-click="calculation.relocatePage('dashboard')">
    <img class="nav-icon" src="img/nav/home.png" alt="home">
  </div>
  <div class="nav-option">
      <div class="select_HIP" ng-click="calculation.toogleMenu()" ng-if="calculation.myFactory.parks.length===0">
        <img ng-src="img/{{(calculation.myFactory.HIPname==='Перевозчики')?'truck.png':'call-center.png'}}" alt="" class="nav-icon">
        <div class="select_container select--hidden"> 
            <div class="select_option" id="truck" ng-click="calculation.setHIP('Перевозчики')">
                <img src="img/truck.png" alt="Перевозчики">
            </div>
            <div class="select_option" id="call-center" ng-click="calculation.setHIP('Экспедиторы')">
                <img src="img/call-center.png" alt="Экспедиторы">
            </div>
        </div>
      </div>
  </div>
  <div class="nav-option" ng-if="calculation.myFactory.parks.length!==0" ng-click="calculation.myFactory.cleanCalculations()">
      <img class="nav-icon" src="img/nav/reload.png" alt="reload">
  </div>
  <!-- <div class="nav-option" >
    <img class="nav-icon" src="img/nav/back.png" alt="back">
  </div> -->
</div>