<table style="text-align: center; width:100%; height:65px; " class="animate-switch-container">
    <tbody ng-if="calculation.config=='tooltip'">
    <tr>
        <td class="tooltip_span" style="color: rgb(146, 167, 205);height: inherit">{{calculation.tooltip.title}}</td>
    </tr>
    </tbody>
    <tbody ng-if="calculation.config!='calculation.json' && mode=='calc'" ng-switch="calculation.karetka.mode" class="animate-switch-container animate-switch">
        <tr class="animate-switch" ng-switch-when="changing process">
            <td ng-click="calculation.clean()">Выйти из режима изменения</td>
        </tr>
        <tr class="animate-switch" ng-switch-when="making new process">
            <td ng-click="calculation.clean()">Отменить создание</td>
        </tr>
        <tr class="animate-switch" ng-switch-when="confirm refresh">
            <td ng-click="calculation.relocatePage('dashboard')" style="float: left">Да</td>
            <td class="not_hover">Вернуться в основное меню?</td>
            <td ng-click="calculation.karetka.mode='listener'" style="float: right">Нет</td>
        </tr>
        <tr class="animate-switch" ng-switch-default="">
            <td>Вернуться</td>

        </tr>
    </tbody>
    <tbody ng-if="calculation.config=='calculationActions.json'">
        <tr>
            <td ng-click="calculation.reloadDashboard('HIP.json','HIP')">Вернуться к расчету</td>
        </tr>
    </tbody>

</table>