@charset "utf-8";
.select_HIP {
  display: flex;
  flex-direction: row;
}
.select_HIP-container {
  display: flex;
  flex-basis: row;
  align-items: center;
}
.select_HIP-container p {
  padding: 0;
  margin: 0;
}
.select_HIP-container img {
  width: 32px;
  height: 32px;
}
.select_container {
  display: flex;
  flex-direction: row;
  background-color: var(--gray);
  border-radius: 10px;
}
.select_option {
  display: block;
  margin: 0px 5px 0px 5px;
  padding:1px;
  cursor: pointer;

}
.select_option img{
  width: 32px;
  height: 32px;
  margin: 2px;
}
.select--hidden{
  display: none;
}
#call-center:hover::after{
  top: 90px;
}
#truck:hover::after{
  top: 90px;
}
#save:hover::after{
  top: 29%;
}
#polis:hover::after{
  top: 52%;
}
#reload:hover::after{
  top: 76%;
}
#home:hover::after{
  top: 8%;
}
#karetka:hover::after{
  top: 100%;
  left: 10%;
}
.window-header {
  margin-left: 50px;
  width: calc(100% - 50px);
}
