.select_HIP {
  display: flex;
  flex-direction: row;
}
.select_HIP-container {
  display: flex;
  flex-basis: row;
  align-items: center;
}
.select_HIP-container p {
  padding: 0;
  margin: 0;
}
.select_HIP-container img {
  width: 32px;
  height: 32px;
  
}
.select_container {
  display: flex;
  flex-direction: row;
  background-color: var(--gray);
  border-radius: 10px;
}
.select_option {
  display: block;
  margin: 0px 5px 0px 5px;
  padding:1px;
  cursor: pointer;

}
.select_option img{
  width: 32px;
  height: 32px;
  margin: 2px;
}
.select--hidden{
  display: none;
}
#truck:hover::after{
  content: "Перевозчики";
  position: absolute;
  left: 100%;
  top: 90px;
  z-index: 10;
  background-color: white;
  color: black;
  font-size: 14px;
  width: 100px;
  height: auto;
  border: 2px solid rgb(0, 111, 167);
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
  font-weight: bold;
}
#call-center:hover::after{
  content: "Экспедиторы";
  position: absolute;
  left: 100%;
  top: 90px;
  z-index: 10;
  background-color: white;
  color: black;
  font-size: 14px;
  width: 100px;
  height: auto;
  border: 2px solid rgb(0, 111, 167);
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
  font-weight: bold;
}
.calc_name {
  display: table;
  margin: auto;
  margin-left: 50px;
  background: var(--blue);
  color: white;
  text-align: center;
  width: calc(100% - 50px);
  overflow: hidden;
  -webkit-animation: moveFromRight 350ms ease-in-out both;
  animation: moveFromRight 350ms ease-in-out both;
}
.nav-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--gray);
  width: 45px;
}
.nav-option {
  box-sizing: content-box;
  border: 1px solid white;
}
.nav-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 5px;
  
}